buildozer==1.5.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
certifi==2023.5.7 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
charset-normalizer==3.1.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
distlib==0.3.6 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
docutils==0.20.1 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
filelock==3.12.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
idna==3.4 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
kivy-deps-angle==0.3.3 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0" and sys_platform == "win32"
kivy-deps-glew==0.3.1 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0" and sys_platform == "win32"
kivy-deps-sdl2==0.6.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0" and sys_platform == "win32"
kivy-garden==0.1.5 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
kivy==2.2.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
kivymd==1.1.1 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
pexpect==4.8.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
pillow==9.5.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
platformdirs==3.5.1 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
ptyprocess==0.7.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
pydantic==1.10.8 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
pygments==2.15.1 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
pypiwin32==223 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0" and sys_platform == "win32"
pywin32==306 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0" and sys_platform == "win32"
requests==2.31.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
sh==1.14.3 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
typing-extensions==4.6.2 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
urllib3==2.0.2 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
virtualenv==20.23.0 ; python_full_version > "3.8.0" and python_full_version <= "3.12.0"
